  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  section {
    width: 280px;
    height: auto;
    background: #5ab9c1;
    color: #fff;
    border: 1px solid silver;
    position: absolute;
    border-radius: 3px;
    border-style: inset;
    padding: 10px;
  }

  section h1 {
    text-align: center;
    color: #007b83;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  }

  .draggable {
    border-radius: 3px;
    border: 1px solid #fff;
    margin: 10px;
    padding: 0.5em;
    text-align: center;
    cursor: grab;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    transition: all 0.35s;
  }

  .draggable span:nth-child(2) {
    flex-grow: 1;
  }

  .dragActive {
    background: rgba(255, 255, 255, 0.79);
    color: #000;
    border: 1px solid silver;
    border-style: inset;
  }

  .icon {
    font-size: 1.5em;
    font-family: "Material Icons", sans-serif;
  }