@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}

:root {
  --bodyBG: #128cfc;
  --blueHighlight: #0b5aa2;
  --dragActiveBG: #181c1b;
}

html,
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bodyBG);
  font-family: "Rubik";
}

main section h3 {
  margin: 15px 0 0 25px;
  color: #0b5aa2;
}

main section h3::after {
  content: "";
  margin: 10px 0 0 15px;
  background: var(--blueHighlight);
  display: block;
  height: 3px;
  width: 85px;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

main section {
  margin-top: 50px;
  width: 100%;
  max-width: 300px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main section::before {
  content: "";
  background: var(--blueHighlight);
  display: block;
  height: 10px;
  width: 100%;
}

main section ul {
  padding: 0 20px 0 20px;
}

.draggable {
  background-color: #fff;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 1px dashed #000;
  margin: 1px;
  padding: 0.5em;
  text-align: center;
  cursor: grab;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #000;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
}

/* .draggable:hover {
  border: 1px solid dodgerblue;
} */

.draggable span:nth-child(2) {
  flex-grow: 1;
}

.dragActive {
  display: none;
  position: absolute !important;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  opacity: 0.55;
}

.icon {
  font-size: 1.5em;
  font-family: "Material Icons", sans-serif;
}